/******************************************************************************
 * DESCRIPTION: Stylesheet current conditions container.                      *
 *      AUTHOR: Chad Chapman                                                  *
 *****************************************************************************/
.conditions-icon {
    height: 33px;
}

.current-conditions-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.current-conditions-description {
    font-size: 20px;
}

.current-conditions-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-top: 15px;

    font-size: 16px;
}

.conditions-icon {
    height: 33px;
}

.current-conditions-info-description {
    margin-left: 10px;
}

.current-conditions-right {
    display: flex;
    flex-direction: column;
}

.current-temperature {
    font-size: x-large;
    margin-top: 15px;
    text-align: center;
}

.daily-conditions {
    align-items: center;
}

.daily-conditions-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    
    font-size: 16px;
}

.daily-description {
    margin-top: 10px;
    text-align: center;
    font-size: larger;
}

.date-time-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.description-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hr-border {
    border: solid 3px rgb(57, 169, 244);
}

.today-high-low-temperature {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 900px) {
    .current-conditions-container {
        flex-direction: row;
        margin-left: 25px;
        margin-right: 25px;
    }

    .current-conditions-info {
        justify-content: flex-start;
        align-items: center;
    }

    .current-conditions-right {
        margin-left: auto;
        margin-bottom: 15px;
    }

    .current-temperature {
        text-align: left;
    }

    .daily-conditions {
        justify-content: space-evenly;
    }

    .daily-conditions-info {
        align-items: space-between;
        justify-content: space-between;
    }

    .date-time-container {
        align-items: flex-start;
    }

    .description-container {
        justify-content: flex-start;
    }

    .today-high-low-temperature {
        text-align: left;
    }
}