/******************************************************************************
 * DESCRIPTION: Stylesheet daily forecast content.                            *
 *      AUTHOR: Chad Chapman                                                  *
 *****************************************************************************/
.daily-forecast-container {
   display: flex;
   flex-direction: row;
   gap: 5px;

   border: solid black 1px;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
 }

.daily-forecast-card {
   text-align: center;
   border: solid black 1px;
   min-width: 250px;
 }