/******************************************************************************
 * DESCRIPTION: Stylesheet daily forecast content.                            *
 *      AUTHOR: Chad Chapman                                                  *
 *****************************************************************************/
.card-temps {
   display: flex;
}

.daily-forecast-container {
   display: flex;
   flex-direction: row;

   /* border: solid black 1px; */
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 15px;
   /* Enable horizontal scrolling. */
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
}

.daily-forecast-card {
   margin: 5px;
   text-align: center;
   border: 3px solid rgb(57, 169, 244);
   background-color: rgb(111, 200, 230);
   border-radius: 5px;
   min-width: 200px;
}

.daily-forecast-card:hover,
.daily-forecast-card:focus {
   border: 3px solid rgb(27, 80, 114);
}


.daily-forecast-card h4,
.daily-forecast-card p {
   margin-top: 5px;
   margin-bottom: 5px;
}

.hr-border {
   width: 90%;
   border: solid 3px rgb(57, 169, 244);

   margin-left: auto;
   margin-right: auto;
   margin-bottom: 15px;
}

.selected-daily-forecast {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%
}

.selected-daily-forecast .selected-summary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.temperature {
   width: 50%;
}

.temperature h5 {
   margin-bottom: 15px;
}

@media only screen and (min-width: 900px) {

}