/******************************************************************************
 * DESCRIPTION: Stylesheet hourly forecast content.                           *
 *      AUTHOR: Chad Chapman                                                  *
 *****************************************************************************/
.hourly-forecast-container {
   display: flex;
   flex-direction: row;
   gap: 5px;

   border: solid black 1px;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 15px;
   /* Enable horizontal scrolling. */
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
}

.hourly-forecast-card {
   text-align: center;
   border: solid black 1px;
   min-width: 250px;
 }