/******************************************************************************
 * DESCRIPTION: Main style sheet for React Weather App.                       *
 *      AUTHOR: Chad Chapman                                                  *
 *****************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: rgb(111, 200, 230);
}

body, html {
    height: 100%;
}

.broken-clouds {
    background-image: url('/images/broken-clouds.jpg');
}

.clear-sky {
    background-image: url('/images/clear-sky.jpg');
}

.content {
    background-size: 100%;
    display: flex;
    flex-flow: column;
}

.forecast {
    border: 3px solid rgb(57, 169, 244);
    border-radius: 5px;
    margin: 30px;
    align-self: center;
    width: 80%;
    background-color: rgba(111, 200, 230, .7);

    display: flex;
    flex-direction: column;
}

.few-clouds {
    background-image: url('/images/few-clouds.jpg');
}

.mist {
    background-image: url('/images/mist.jpg');
}

.page-title {
    margin: 15px 0 15px 0;
    text-align: center;
}

.rain {
    background-image: url('/images/rain.jpg');
}

#root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.scattered-clouds {
    background-image: url('/images/scattered-clouds.jpg');
}

.shower-rain {
    background-image: url('/images/shower-rain.jpg');
}

.snow {
    background-image: url('/images/snow.jpg');
}

.thunder-storm {
    background-image: url('/images/thunder-storm.jpg');
}
